DATABASE_URL=your_database_url
APP_NAME=your_app_name

SHORT_URL_DOMAIN=your_short_url_domain

JWT_SECRET_KEY=your_jwt_secret_key

SERVER_PORT=your_server_port
WEBSOCKET_PORT=your_websocket_port

MAX_TEXT_MESSAGE_LENGTH=4096

FIREBASE_SERVICE_ACCOUNT_PATH=config/serviceAccountKey.json

S3_ACCESS_KEY=your_s3_access_key
S3_SECRET_KEY=your_s3_secret_key
S3_END_POINT=your_s3_end_point
S3_BUCKET_NAME=your_s3_bucket_name
S3_REGION=your_s3_region