DATABASE_URL=
APP_NAME=

SHORT_URL_DOMAIN=

JWT_SECRET_KEY=

SERVER_PORT=

MAX_TEXT_MESSAGE_LENGTH=

FIREBASE_SERVICE_ACCOUNT_PATH=

S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_END_POINT=
S3_BUCKET_NAME=
S3_REGION=

ENCRYPTION_KEY_V1=
CURRENT_ENCRYPTION_VERSION=

OPEN_ROUTER_API_URL=
OPEN_ROUTER_API_KEY=
OPEN_ROUTER_API_MODEL=

SYSTEM_USER_LOGIN=
SYSTEM_USER_PASSWORD=
SYSTEM_USER_NAME=